* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Serif Pro', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightgrey;
}

#container {
  width: 50rem;
  border: 2px solid darkslateblue;
  border-radius: 10px;
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left; 
}

h1 {
  font-size: 24px;
  color: black; 
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 220px;
  box-sizing: border-box;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: gray;
}
